Badmus Kwasi is a student of OneCampus enrolled in the Data Science Program. Badmus belongs to a cohort of over 800 students. During the first few bootcamps, Badmus observes the difficulty students in all the cohorts of OneCampus have in knowing their Bootcamp dates and times in their local/county time zones. This difficulty often results in students logging in too early, too late, or totally missing their boot camps. Bootcamp times are always issued in Eastern Standard Time (EST) which is approximately UTC -5. This is the America -New York time. OneCampus has students in all the time zones of the world.

Badmus wants to develop a PYTHON-ONLY application that can be used to convert Bootcamp times from EST to any of the time zones requested by a student. The app should be able to convert the given date and time (Day and Time) to the requested time zone day and time.

The app should be able to store information about upcoming bootcamps by program type (Data Science, Machine learning, and Data Analytics) using python containers ONLY and provide a corresponding list of the schedules in any time zone or country requested by a student. This app must not have any database implemented and should not read from nor save to any file on disk. All data MUST be stored in python code using containers ONLY

As a bonus, if a student provides his/her full name, Country name and time zone, and email address, the app can generate an alert for the student on their computer (no need for an email script) notifying the student 24 hours before their next Bootcamp start time and 2 hours before Bootcamp start time.

Bootcamp Schedules for each of the three programs for the next three months are provided in the Bootcamp Schedule (see attached excel sheet)

Also provided are two lists of world time zone times.

One list contains times by country while the second list provides times by time zone. This is a list of all the time zone names along with their offset in seconds from UTC and also offset during daylight

savings time from UTC. The format of the CSV is simply

timezone, offset, offset_dst

Project Specifications:

App Capability

App should hold information about the times in countries of the world (two lists have been provided. One contains 588 Countries times while the other has times for 404 countries)
a. Should therefore be able to tell the current time in any country specified by the user by simply reading the current system time and time zone

App should hold the time zones and times of the 200 time zones provided
a. Should therefore be able to tell the time zone of any country specified by the user

When provided the name of a source country and time zone, the app should be able to provide the equivalent time in any specified target country and display its time zone

App should be able to generate the Bootcamp schedule in the time/timezone of any country specified

As a bonus, the app should be able to read the current system time and alert the user if any upcoming Bootcamp is less than 24 hours from the current system time

Additional bonus: Implement code with a database backend and a Graphical User Interphase.

In [1]:
import pandas as pd

In [2]:
df_schedule = pd.read_excel('BootcampSchedule.xlsx')
df_schedule

,Month,Date,Bootcamp Time (EST),Cohort,Program,Topic
0,July,2022-07-07,6.00 AM,Cohort 14,Data Analytics,Python Variables
1,July,2022-07-08,10.00 AM,Cohort 15,Data Science/ML,Data Cleaning
2,July,2022-07-07,6.00 AM,Cohort 14,Data Science/ML,Python Variables
3,July,2022-07-08,10.00 AM,Cohort 15,Data Analytics,Data Visualization Project 1
4,July,2022-07-21,6.00 AM,Cohort 14,Data Analytics,Python Container
5,July,2022-07-21,10.00 AM,Cohort 15,Data Science/ML,Data Transformation
6,July,2022-07-22,6.00 AM,Cohort 14,Data Science/ML,Python Container
7,July,2022-07-22,10.00 AM,Cohort 15,Data Analytics,Data Visualization Project 2
8,August,2022-08-04,6.00 AM,Cohort 14,Data Analytics,Python Container II
9,August,2022-08-04,10.00 AM,Cohort 15,Data Science/ML,Data Transformation II
10,August,2022-08-05,6.00 AM,Cohort 14,Data Science/ML,Python Container II
11,August,2022-08-05,10.00 AM,Cohort 15,Data Analytics,Data Visualization Project 3
12,August,2022-08-18,6.00 AM,Cohort 14,Data Analytics,Python Functions
13,August,2022-08-18,10.00 AM,Cohort 15,Data Science/ML,Feature Selection
14,August,2022-08-19,6.00 AM,Cohort 14,Data Science/ML,Python Functions
15,August,2022-08-19,10.00 AM,Cohort 15,Data Analytics,Data Visualization Project 4
16,September,2022-09-01,6.00 AM,Cohort 14,Data Analytics,Python Functions
17,September,2022-09-01,10.00 AM,Cohort 15,Data Science/ML,Feature Selection II
18,September,2022-09-02,6.00 AM,Cohort 14,Data Science/ML,Python Functions II
19,September,2022-09-02,10.00 AM,Cohort 15,Data Analytics,Data Visualization Project 5
20,September,2022-09-15,6.00 AM,Cohort 14,Data Analytics,Python Pandas I
21,September,2022-09-15,10.00 AM,Cohort 15,Data Science/ML,Supervised Learning Intro
22,September,2022-09-16,6.00 AM,Cohort 14,Data Science/ML,Python Pandas I
23,September,2022-09-16,10.00 AM,Cohort 15,Data Analytics,Data Visualization Project 6
24,September,2022-09-29,6.00 AM,Cohort 14,Data Analytics,Python Pandas II
25,September,2022-09-29,10.00 AM,Cohort 15,Data Science/ML,Unsupervised Learning Intro
26,September,2022-09-30,6.00 AM,Cohort 14,Data Science/ML,Python Pandas II
27,NaN,2022-09-30,10.00 AM,Cohort 15,Data Analytics,Data Visualization Project 7

In [3]:
df_timeZone = pd.read_excel('Time zones_404_Counries.xlsx')
df_timeZone = df_timeZone.rename(columns = {'Country Code' :'country_Code', 'Country Name' :'country_name', 
                                            'Time Zone' : 'timezone', 'GMT Offset' :'gmt_offset'})
df_timeZone

    country_Code    country_name                        timezone  gmt_offset
0             AF     Afghanistan                      Asia/Kabul  UTC +04:36
1             AL         Albania                   Europe/Tirane  UTC +01:19
2             DZ         Algeria                  Africa/Algiers  UTC +00:12
3             AS  American Samoa               Pacific/Pago_Pago  UTC +12:37
4             AD         Andorra                  Europe/Andorra  UTC +00:06
..           ...             ...                             ...         ...
399           US   United States                America/New_York  UTC -04:56
400           US   United States                    America/Nome  UTC +12:58
401           US   United States     America/North_Dakota/Beulah  UTC -06:47
402           US   United States     America/North_Dakota/Center  UTC -06:45
403           US   United States  America/North_Dakota/New_Salem  UTC -06:45

[404 rows x 4 columns]

In [4]:
df_timeZoneDetailed = pd.read_csv('timezones_Detailed_588_Countries.csv')
df_timeZoneDetailed

               timezone  offset  offset_dst(Day light Savings)
0        Africa/Abidjan       0                              0
1          Africa/Accra       0                              0
2    Africa/Addis_Ababa   10800                          10800
3        Africa/Algiers    3600                           3600
4         Africa/Asmara   10800                          10800
..                  ...     ...                            ...
583                 UTC       0                              0
584           Universal       0                              0
585                W-SU   10800                          10800
586                 WET       0                           3600
587                Zulu       0                              0

[588 rows x 3 columns]

In [5]:
df_timeZStd = pd.read_csv('timezones_Standard_Times.csv')
df_timeZStd

     Zone                            Time Zone Name    GMT Offset
0    ACDT  Australian Central Daylight Savings Time        +10:30
1    ACST          Australian Central Standard Time        +09:30
2     ACT                                 Acre Time            -5
3     ACT                         ASEAN Common Time  +06:30 - +09
4     ADT                    Atlantic Daylight Time            -3
..    ...                                       ...           ...
195   WET                     Western European Time           ±00
196   WIT                   Western Indonesian Time             7
197   WST                     Western Standard Time             8
198  YAKT                              Yakutsk Time             9
199  YEKT                        Yekaterinburg Time             5

[200 rows x 3 columns]

In [6]:
df_timeZStd = df_timeZStd.rename(columns = {'Time Zone Name' : 'time_zone_name',
                  'GMT Offset' : 'GMT_Offset'} )
df_timeZStd

     Zone                            time_zone_name    GMT_Offset
0    ACDT  Australian Central Daylight Savings Time        +10:30
1    ACST          Australian Central Standard Time        +09:30
2     ACT                                 Acre Time            -5
3     ACT                         ASEAN Common Time  +06:30 - +09
4     ADT                    Atlantic Daylight Time            -3
..    ...                                       ...           ...
195   WET                     Western European Time           ±00
196   WIT                   Western Indonesian Time             7
197   WST                     Western Standard Time             8
198  YAKT                              Yakutsk Time             9
199  YEKT                        Yekaterinburg Time             5

[200 rows x 3 columns]

# TIMEZONE APPLICATION

In [7]:
#convert countries in  timeZoneDetailed to a list
Countries = df_timeZoneDetailed['timezone']
Countries = list(Countries)

#extract Countries from the countries and continents
country = []
for i in Countries:
    if '/' in i:
        res = i.split('/')[1]
    else:
        res = i
    country.append(res);
 

#convert countries and offset to a dict

offset = df_timeZoneDetailed['offset' ]
offset= list(offset)

#convert countries and offset to a dict
country_offset = []
for a, u in zip(country, offset):
    ans = [a,u]
    country_offset.append(ans)

In [8]:
country_offset = dict(country_offset)
country_offset

{'Abidjan': 0,
 'Accra': 0,
 'Addis_Ababa': 10800,
 'Algiers': 3600,
 'Asmara': 10800,
 'Asmera': 10800,
 'Bamako': 0,
 'Bangui': 3600,
 'Banjul': 0,
 'Bissau': 0,
 'Blantyre': 7200,
 'Brazzaville': 3600,
 'Bujumbura': 7200,
 'Cairo': 7200,
 'Casablanca': 0,
 'Ceuta': 3600,
 'Conakry': 0,
 'Dakar': 0,
 'Dar_es_Salaam': 10800,
 'Djibouti': 10800,
 'Douala': 3600,
 'El_Aaiun': 0,
 'Freetown': 0,
 'Gaborone': 7200,
 'Harare': 7200,
 'Johannesburg': 7200,
 'Juba': 10800,
 'Kampala': 10800,
 'Khartoum': 10800,
 'Kigali': 7200,
 'Kinshasa': 3600,
 'Lagos': 3600,
 'Libreville': 3600,
 'Lome': 0,
 'Luanda': 3600,
 'Lubumbashi': 7200,
 'Lusaka': 7200,
 'Malabo': 3600,
 'Maputo': 7200,
 'Maseru': 7200,
 'Mbabane': 7200,
 'Mogadishu': 10800,
 'Monrovia': 0,
 'Nairobi': 10800,
 'Ndjamena': 3600,
 'Niamey': 3600,
 'Nouakchott': 0,
 'Ouagadougou': 0,
 'Porto-Novo': 3600,
 'Sao_Tome': 0,
 'Timbuktu': 0,
 'Tripoli': 7200,
 'Tunis': 3600,
 'Windhoek': 3600,
 'Adak': -36000,
 'Anchorage': -32400,
 'Anguilla': -14400,
 'Antigua': -14400,
 'Araguaina': -10800,
 'Argentina': -10800,
 'Aruba': -14400,
 'Asuncion': -10800,
 'Atikokan': -18000,
 'Atka': -36000,
 'Bahia': -10800,
 'Bahia_Banderas': -21600,
 'Barbados': -14400,
 'Belem': -10800,
 'Belize': -21600,
 'Blanc-Sablon': -14400,
 'Boa_Vista': -14400,
 'Bogota': -18000,
 'Boise': -25200,
 'Buenos_Aires': -10800,
 'Cambridge_Bay': -25200,
 'Campo_Grande': -14400,
 'Cancun': -18000,
 'Caracas': -16200,
 'Catamarca': -10800,
 'Cayenne': -10800,
 'Cayman': -18000,
 'Chicago': -21600,
 'Chihuahua': -25200,
 'Coral_Harbour': -18000,
 'Cordoba': -10800,
 'Costa_Rica': -21600,
 'Creston': -25200,
 'Cuiaba': -14400,
 'Curacao': -14400,
 'Danmarkshavn': 0,
 'Dawson': -28800,
 'Dawson_Creek': -25200,
 'Denver': -25200,
 'Detroit': -18000,
 'Dominica': -14400,
 'Edmonton': -25200,
 'Eirunepe': -18000,
 'El_Salvador': -21600,
 'Ensenada': -28800,
 'Fort_Nelson': -25200,
 'Fort_Wayne': -18000,
 'Fortaleza': -10800,
 'Glace_Bay': -14400,
 'Godthab': -10800,
 'Goose_Bay': -14400,
 'Grand_Turk': -14400,
 'Grenada': -14400,
 'Guadeloupe': -14400,
 'Guatemala': -21600,
 'Guayaquil': -18000,
 'Guyana': -14400,
 'Halifax': -14400,
 'Havana': -18000,
 'Hermosillo': -25200,
 'Indiana': -18000,
 'Indianapolis': -18000,
 'Inuvik': -25200,
 'Iqaluit': -18000,
 'Jamaica': -18000,
 'Jujuy': -10800,
 'Juneau': -32400,
 'Kentucky': -18000,
 'Knox_IN': -21600,
 'Kralendijk': -14400,
 'La_Paz': -14400,
 'Lima': -18000,
 'Los_Angeles': -28800,
 'Louisville': -18000,
 'Lower_Princes': -14400,
 'Maceio': -10800,
 'Managua': -21600,
 'Manaus': -14400,
 'Marigot': -14400,
 'Martinique': -14400,
 'Matamoros': -21600,
 'Mazatlan': -25200,
 'Mendoza': -10800,
 'Menominee': -21600,
 'Merida': -21600,
 'Metlakatla': -28800,
 'Mexico_City': -21600,
 'Miquelon': -10800,
 'Moncton': -14400,
 'Monterrey': -21600,
 'Montevideo': -10800,
 'Montreal': -18000,
 'Montserrat': -14400,
 'Nassau': -18000,
 'New_York': -18000,
 'Nipigon': -18000,
 'Nome': -32400,
 'Noronha': -7200,
 'North_Dakota': -21600,
 'Ojinaga': -25200,
 'Panama': -18000,
 'Pangnirtung': -18000,
 'Paramaribo': -10800,
 'Phoenix': -25200,
 'Port-au-Prince': -18000,
 'Port_of_Spain': -14400,
 'Porto_Acre': -18000,
 'Porto_Velho': -14400,
 'Puerto_Rico': -14400,
 'Rainy_River': -21600,
 'Rankin_Inlet': -21600,
 'Recife': -10800,
 'Regina': -21600,
 'Resolute': -21600,
 'Rio_Branco': -18000,
 'Rosario': -10800,
 'Santa_Isabel': -28800,
 'Santarem': -10800,
 'Santiago': -10800,
 'Santo_Domingo': -14400,
 'Sao_Paulo': -10800,
 'Scoresbysund': -3600,
 'Shiprock': -25200,
 'Sitka': -32400,
 'St_Barthelemy': -14400,
 'St_Johns': -12600,
 'St_Kitts': -14400,
 'St_Lucia': -14400,
 'St_Thomas': -14400,
 'St_Vincent': -14400,
 'Swift_Current': -21600,
 'Tegucigalpa': -21600,
 'Thule': -14400,
 'Thunder_Bay': -18000,
 'Tijuana': -28800,
 'Toronto': -18000,
 'Tortola': -14400,
 'Vancouver': -28800,
 'Virgin': -14400,
 'Whitehorse': -28800,
 'Winnipeg': -21600,
 'Yakutat': -32400,
 'Yellowknife': -25200,
 'Casey': 28800,
 'Davis': 25200,
 'DumontDUrville': 36000,
 'Macquarie': 39600,
 'Mawson': 18000,
 'McMurdo': 43200,
 'Palmer': -10800,
 'Rothera': -10800,
 'South_Pole': 43200,
 'Syowa': 10800,
 'Troll': 0,
 'Vostok': 21600,
 'Longyearbyen': 3600,
 'Aden': 10800,
 'Almaty': 21600,
 'Amman': 7200,
 'Anadyr': 43200,
 'Aqtau': 18000,
 'Aqtobe': 18000,
 'Ashgabat': 18000,
 'Ashkhabad': 18000,
 'Baghdad': 10800,
 'Bahrain': 10800,
 'Baku': 14400,
 'Bangkok': 25200,
 'Beirut': 7200,
 'Bishkek': 21600,
 'Brunei': 28800,
 'Calcutta': 19800,
 'Chita': 28800,
 'Choibalsan': 28800,
 'Chongqing': 28800,
 'Chungking': 28800,
 'Colombo': 19800,
 'Dacca': 21600,
 'Damascus': 7200,
 'Dhaka': 21600,
 'Dili': 32400,
 'Dubai': 14400,
 'Dushanbe': 18000,
 'Gaza': 7200,
 'Harbin': 28800,
 'Hebron': 7200,
 'Ho_Chi_Minh': 25200,
 'Hong_Kong': 28800,
 'Hovd': 25200,
 'Irkutsk': 28800,
 'Istanbul': 7200,
 'Jakarta': 25200,
 'Jayapura': 32400,
 'Jerusalem': 7200,
 'Kabul': 16200,
 'Kamchatka': 43200,
 'Karachi': 18000,
 'Kashgar': 21600,
 'Kathmandu': 20700,
 'Katmandu': 20700,
 'Khandyga': 32400,
 'Kolkata': 19800,
 'Krasnoyarsk': 25200,
 'Kuala_Lumpur': 28800,
 'Kuching': 28800,
 'Kuwait': 10800,
 'Macao': 28800,
 'Macau': 28800,
 'Magadan': 36000,
 'Makassar': 28800,
 'Manila': 28800,
 'Muscat': 14400,
 'Nicosia': 7200,
 'Novokuznetsk': 25200,
 'Novosibirsk': 21600,
 'Omsk': 21600,
 'Oral': 18000,
 'Phnom_Penh': 25200,
 'Pontianak': 25200,
 'Pyongyang': 30600,
 'Qatar': 10800,
 'Qyzylorda': 21600,
 'Rangoon': 23400,
 'Riyadh': 10800,
 'Riyadh87': 0,
 'Riyadh88': 0,
 'Riyadh89': 0,
 'Saigon': 25200,
 'Sakhalin': 36000,
 'Samarkand': 18000,
 'Seoul': 32400,
 'Shanghai': 28800,
 'Singapore': 28800,
 'Srednekolymsk': 39600,
 'Taipei': 28800,
 'Tashkent': 18000,
 'Tbilisi': 14400,
 'Tehran': 12600,
 'Tel_Aviv': 7200,
 'Thimbu': 21600,
 'Thimphu': 21600,
 'Tokyo': 32400,
 'Ujung_Pandang': 28800,
 'Ulaanbaatar': 28800,
 'Ulan_Bator': 28800,
 'Urumqi': 21600,
 'Vientiane': 25200,
 'Vladivostok': 36000,
 'Yakutsk': 32400,
 'Yekaterinburg': 18000,
 'Yerevan': 14400,
 'Azores': -3600,
 'Bermuda': -14400,
 'Canary': 0,
 'Cape_Verde': -3600,
 'Faeroe': 0,
 'Faroe': 0,
 'Jan_Mayen': 3600,
 'Madeira': 0,
 'Reykjavik': 0,
 'South_Georgia': -7200,
 'St_Helena': 0,
 'Stanley': -10800,
 'ACT': 36000,
 'Adelaide': 34200,
 'Brisbane': 36000,
 'Broken_Hill': 34200,
 'Canberra': 36000,
 'Currie': 36000,
 'Darwin': 34200,
 'Eucla': 31500,
 'Hobart': 36000,
 'LHI': 37800,
 'Lindeman': 36000,
 'Lord_Howe': 37800,
 'Melbourne': 36000,
 'NSW': 36000,
 'North': 34200,
 'Perth': 28800,
 'Queensland': 36000,
 'South': 34200,
 'Sydney': 36000,
 'Tasmania': 36000,
 'Victoria': 36000,
 'West': -14400,
 'Yancowinna': 34200,
 'Acre': -18000,
 'DeNoronha': -7200,
 'East': -10800,
 'CET': 3600,
 'CST6CDT': -21600,
 'Atlantic': -14400,
 'Central': -21600,
 'East-Saskatchewan': -21600,
 'Eastern': -18000,
 'Mountain': -25200,
 'Newfoundland': -12600,
 'Pacific': -28800,
 'Saskatchewan': -21600,
 'Yukon': -28800,
 'Continental': -10800,
 'EasterIsland': -18000,
 'Cuba': -18000,
 'EET': 7200,
 'EST': -18000,
 'EST5EDT': -18000,
 'Egypt': 7200,
 'Eire': 0,
 'GMT': 0,
 'GMT+0': 0,
 'GMT+1': -3600,
 'GMT+10': -36000,
 'GMT+11': -39600,
 'GMT+12': -43200,
 'GMT+2': -7200,
 'GMT+3': -10800,
 'GMT+4': -14400,
 'GMT+5': -18000,
 'GMT+6': -21600,
 'GMT+7': -25200,
 'GMT+8': -28800,
 'GMT+9': -32400,
 'GMT-0': 0,
 'GMT-1': 3600,
 'GMT-10': 36000,
 'GMT-11': 39600,
 'GMT-12': 43200,
 'GMT-13': 46800,
 'GMT-14': 50400,
 'GMT-2': 7200,
 'GMT-3': 10800,
 'GMT-4': 14400,
 'GMT-5': 18000,
 'GMT-6': 21600,
 'GMT-7': 25200,
 'GMT-8': 28800,
 'GMT-9': 32400,
 'GMT0': 0,
 'Greenwich': 0,
 'UCT': 0,
 'UTC': 0,
 'Universal': 0,
 'Zulu': 0,
 'Amsterdam': 3600,
 'Andorra': 3600,
 'Athens': 7200,
 'Belfast': 0,
 'Belgrade': 3600,
 'Berlin': 3600,
 'Bratislava': 3600,
 'Brussels': 3600,
 'Bucharest': 7200,
 'Budapest': 3600,
 'Busingen': 3600,
 'Chisinau': 7200,
 'Copenhagen': 3600,
 'Dublin': 0,
 'Gibraltar': 3600,
 'Guernsey': 0,
 'Helsinki': 7200,
 'Isle_of_Man': 0,
 'Jersey': 0,
 'Kaliningrad': 7200,
 'Kiev': 7200,
 'Lisbon': 0,
 'Ljubljana': 3600,
 'London': 0,
 'Luxembourg': 3600,
 'Madrid': 3600,
 'Malta': 3600,
 'Mariehamn': 7200,
 'Minsk': 10800,
 'Monaco': 3600,
 'Moscow': 10800,
 'Oslo': 3600,
 'Paris': 3600,
 'Podgorica': 3600,
 'Prague': 3600,
 'Riga': 7200,
 'Rome': 3600,
 'Samara': 14400,
 'San_Marino': 3600,
 'Sarajevo': 3600,
 'Simferopol': 7200,
 'Skopje': 3600,
 'Sofia': 7200,
 'Stockholm': 3600,
 'Tallinn': 7200,
 'Tirane': 3600,
 'Tiraspol': 7200,
 'Uzhgorod': 7200,
 'Vaduz': 3600,
 'Vatican': 3600,
 'Vienna': 3600,
 'Vilnius': 7200,
 'Volgograd': 10800,
 'Warsaw': 3600,
 'Zagreb': 3600,
 'Zaporozhye': 7200,
 'Zurich': 3600,
 'Factory': 0,
 'GB': 0,
 'GB-Eire': 0,
 'HST': -36000,
 'Hongkong': 28800,
 'Iceland': 0,
 'Antananarivo': 10800,
 'Chagos': 21600,
 'Christmas': 25200,
 'Cocos': 23400,
 'Comoro': 10800,
 'Kerguelen': 18000,
 'Mahe': 14400,
 'Maldives': 18000,
 'Mauritius': 14400,
 'Mayotte': 10800,
 'Reunion': 14400,
 'Iran': 12600,
 'Israel': 7200,
 'Japan': 32400,
 'Kwajalein': 43200,
 'Libya': 7200,
 'MET': 3600,
 'MST': -25200,
 'MST7MDT': -25200,
 'BajaNorte': -28800,
 'BajaSur': -25200,
 'General': -21600,
 'NZ': 43200,
 'NZ-CHAT': 45900,
 'Navajo': 0,
 'PRC': 0,
 'PST8PDT': 0,
 'Apia': 46800,
 'Auckland': 43200,
 'Bougainville': 39600,
 'Chatham': 45900,
 'Chuuk': 36000,
 'Easter': -18000,
 'Efate': 39600,
 'Enderbury': 46800,
 'Fakaofo': 46800,
 'Fiji': 43200,
 'Funafuti': 43200,
 'Galapagos': -21600,
 'Gambier': -32400,
 'Guadalcanal': 39600,
 'Guam': 36000,
 'Honolulu': -36000,
 'Johnston': -36000,
 'Kiritimati': 50400,
 'Kosrae': 39600,
 'Majuro': 43200,
 'Marquesas': -34200,
 'Midway': -39600,
 'Nauru': 43200,
 'Niue': -39600,
 'Norfolk': 39600,
 'Noumea': 39600,
 'Pago_Pago': -39600,
 'Palau': 32400,
 'Pitcairn': -28800,
 'Ponape': 39600,
 'Port_Moresby': 36000,
 'Rarotonga': -36000,
 'Saipan': 36000,
 'Samoa': -39600,
 'Tahiti': -36000,
 'Tarawa': 43200,
 'Tongatapu': 46800,
 'Truk': 36000,
 'Wake': 43200,
 'Wallis': 43200,
 'Yap': 36000,
 'Poland': 3600,
 'Portugal': 0,
 'ROC': 28800,
 'ROK': 32400,
 'Turkey': 7200,
 'Alaska': -32400,
 'Aleutian': -36000,
 'Arizona': -25200,
 'East-Indiana': -18000,
 'Hawaii': -36000,
 'Indiana-Starke': -21600,
 'Michigan': -18000,
 'Pacific-New': -28800,
 'W-SU': 10800,
 'WET': 0}

In [9]:
df_schedule.columns

Index(['Month ', 'Date ', 'Bootcamp Time (EST)', 'Cohort', 'Program ',
       'Topic '],
      dtype='object')

In [10]:
import datetime
from datetime import time



# Function to get current %timeit
def currTimeShort():
    now = datetime.datetime.now()
    current_time = now.strftime("%H:%M:%S") # formating time to hours minutes and secs
    return current_time

#Function to return current date and timeabs
def currTimeLong():
    today = datetime.datetime.now()
    return today

#function to recieve user input timeabs
def userTimeSpec():
    reqTime = input('provide required date in the format; YYYY, MM,DD, HH, mm')
    trimTime = ''.join(reqTime.split()) # removing any white spaces in user input. First split string by white spaces
    timeParts = trimTime.split(',')# spliting user time input by commas
    # extracting time parts and converting to integers since user input is always a string
    yyyy = int(timeParts[0])
    mm = int(timeParts[1])
    dd = int(timeParts[2])
    hh = int(timeParts[3])
    m = int(timeParts[4])
    dt2 = datetime.datetime(yyyy,mm,dd,hh,m) # converting to a datetime format
    return dt2



# function to return time difference in days hours and minutesabs

def timediff(currTime, futureTime):
    time_diff = futureTime - currTime
    tdays = time_diff.days # get time difference in days
    tsecs = time_diff.total_seconds() # get time difference in seconds
    thrs = tsecs/(60*60) # get time difference in hours
    
    return time_diff, tdays, tsecs,thrs # this is returned as a list. Choose what you want to return



# function to return time difference in hours and minutes

In [11]:
cTime = currTimeShort()
print(cTime)

19:30:23

In [12]:
# Get current time in year, month, day hours minutes and secs

longCTime = currTimeLong()
print(longCTime)

2022-07-28 19:30:23.255929

## note: I used usertime function to represent scheduled date

In [13]:
# Recieve user specification of time required in the format year, month, day hours minutes
userTime = userTimeSpec()
print(userTime)

provide required date in the format; YYYY, MM,DD, HH, mm2022, 08, 04, 06, 00
2022-08-04 06:00:00

In [14]:
ttt = timediff(currTimeLong(), userTimeSpec())

provide required date in the format; YYYY, MM,DD, HH, mm2022, 08, 04, 06, 00

In [15]:
ttt

(datetime.timedelta(days=6, seconds=37564, microseconds=918407),
 6,
 555964.918407,
 154.4346995575)

In [16]:
print(ttt[0])

6 days, 10:26:04.918407

# Measuring Time  Zone

### conversion equation:

Time in zone B = Time in zone A - UTC for Zone A + UTC for Zone B

In [17]:
def timezoneC(bootcamp_time, base_country, stuCountry_name):
    if stuCountry_name in country_offset.keys() and base_country in country_offset.keys():
        bootcampTime = bootcamp_time[:4]
        #convert bootcampTime to float
        bootcampTime = float(bootcampTime)
        #fetching the offset of the  base_country time
        base_country = country_offset[base_country]
        # converting the base_country offset to hour
        base_country = base_country/(60**2)
        #fetching the offset of the student country
        stuCountry_name = country_offset[stuCountry_name]
        #converting the offset to hour
        stuCountry_name = stuCountry_name/(60**2)
        # conversion equation
        #time equivalent in student country
        base_country = -1 * base_country
        timeStu_equi = bootcampTime + base_country 
        #add the student country offset to bootcamp_time in utc to get the corresponding time
        timeStu_equi = timeStu_equi + stuCountry_name 
        #substracting 12 from timeStu_equi
        timeStuEquiv = timeStu_equi 
        if timeStuEquiv > 12.59:
            timeStuEquiv = timeStuEquiv - 12
            timeStuEquiv = float('{:.2f}'.format(timeStuEquiv))
        else:
            pass 
        if timeStuEquiv == 0 or timeStuEquiv < 0:
            timeStuEquiv = 12 - abs(timeStuEquiv)
        else: 
            pass
        if 'AM' in bootcamp_time and timeStu_equi >= 12:
            timeStuEquiv = str('{:.2f}'.format(timeStuEquiv)) + 'PM' 
        elif 'PM' in bootcamp_time and timeStu_equi >= 12:
            timeStuEquiv = str('{:.2f}'.format(timeStuEquiv)) + 'AM' 
        elif 'AM' in bootcamp_time and timeStu_equi <= 12:
            timeStuEquiv = str('{:.2f}'.format(timeStuEquiv)) +  'AM' 
        elif 'PM' in bootcamp_time and timeStu_equi <= 12:
            timeStuEquiv = str('{:.2f}'.format(timeStuEquiv)) + 'PM' 
        else: 
            pass 
    else:
        timeStu_equi = 'unidentified value'
    return timeStuEquiv

In [18]:
timezoneC('10.00AM', 'EST', 'Lagos',)

'4.00PM'

In [19]:
#extract month, date, time, cohort and topic from schedule dataframe
Month = df_schedule['Month '].dropna()
Date  = df_schedule['Date '].dropna()
Bootcamp_time = df_schedule['Bootcamp Time (EST)'].dropna()
Cohort = df_schedule['Cohort'].dropna()
Topic = df_schedule['Topic '].dropna()
Program = df_schedule['Program '].dropna()
#convert the extracted columns(month, date, time, cohort and topic) to a list
monthList = list(Month)
dateList = list(Date)
timeList = list(Bootcamp_time)
cohortList = list(Cohort)
topicList = list(Topic)
programList = list(Program)
for m, dte,t,cohort,prog, topic in zip(monthList,dateList,timeList,cohortList,programList,topicList):
    print(m, dte,t,cohort,prog, topic)

July 2022-07-07 00:00:00 6.00 AM Cohort 14 Data Analytics Python Variables
July 2022-07-08 00:00:00 10.00 AM Cohort 15 Data Science/ML Data Cleaning
July 2022-07-07 00:00:00 6.00 AM Cohort 14 Data Science/ML Python Variables
July 2022-07-08 00:00:00 10.00 AM Cohort 15 Data Analytics Data Visualization Project 1
July 2022-07-21 00:00:00 6.00 AM Cohort 14 Data Analytics Python Container
July 2022-07-21 00:00:00 10.00 AM Cohort 15 Data Science/ML Data Transformation
July 2022-07-22 00:00:00 6.00 AM Cohort 14 Data Science/ML Python Container
July 2022-07-22 00:00:00 10.00 AM Cohort 15 Data Analytics Data Visualization Project 2
August 2022-08-04 00:00:00 6.00 AM Cohort 14 Data Analytics Python Container II
August 2022-08-04 00:00:00 10.00 AM Cohort 15 Data Science/ML Data Transformation II
August 2022-08-05 00:00:00 6.00 AM Cohort 14 Data Science/ML Python Container II
August 2022-08-05 00:00:00 10.00 AM Cohort 15 Data Analytics Data Visualization Project 3
August 2022-08-18 00:00:00 6.00 AM Cohort 14 Data Analytics Python Functions
August 2022-08-18 00:00:00 10.00 AM Cohort 15 Data Science/ML Feature Selection
August 2022-08-19 00:00:00 6.00 AM Cohort 14 Data Science/ML Python Functions
August 2022-08-19 00:00:00 10.00 AM Cohort 15 Data Analytics Data Visualization Project 4
September 2022-09-01 00:00:00 6.00 AM Cohort 14 Data Analytics Python Functions
September 2022-09-01 00:00:00 10.00 AM Cohort 15 Data Science/ML Feature Selection II
September 2022-09-02 00:00:00 6.00 AM Cohort 14 Data Science/ML Python Functions II
September 2022-09-02 00:00:00 10.00 AM Cohort 15 Data Analytics Data Visualization Project 5
September 2022-09-15 00:00:00 6.00 AM Cohort 14 Data Analytics Python Pandas I
September 2022-09-15 00:00:00 10.00 AM Cohort 15 Data Science/ML Supervised Learning Intro
September 2022-09-16 00:00:00 6.00 AM Cohort 14 Data Science/ML Python Pandas I
September 2022-09-16 00:00:00 10.00 AM Cohort 15 Data Analytics Data Visualization Project 6
September 2022-09-29 00:00:00 6.00 AM Cohort 14 Data Analytics Python Pandas II
September 2022-09-29 00:00:00 10.00 AM Cohort 15 Data Science/ML Unsupervised Learning Intro
September 2022-09-30 00:00:00 6.00 AM Cohort 14 Data Science/ML Python Pandas II

In [20]:
userTime = input('input the bootcamp time - format HH-MM-AM/PM e.g 5.00AM ')
base_country = input('input the base country - format EST Time zone  ')
stuCountry_name = input('input your country name ')
Time_equivalent = timezoneC(userTime, base_country, stuCountry_name )
userDate = input('specify date - format XX-Month e.g 04-July ')
userCohort = input('specify cohort - format cohort XX e.g cohort 15 ')
userProgram = input('specify program. Format Data Analytics, Data Science/ML ')
userTopic = input('specify topic Format Python Variables ')


#note: I used ttt(usertime function) to represent scheduled date
scheduled = ttt[0]
scheduled= str(scheduled)
dayScheduled = scheduled[:6]
dayScheduled
print()
print()
print(f'Your program, which was scheduled for {userDate} at {userTime}, is on {userDate} at {Time_equivalent} in {stuCountry_name}, and your program for the day is {userProgram}, and the topic to be taught is {userTopic}.Your program is in the next {dayScheduled}')

input the bootcamp time - format HH-MM-AM/PM e.g 5.00AM 6.00AM
input the base country - format EST Time zone  EST
input your country name Lagos
specify date - format XX-Month e.g 04-July 04-August
specify cohort - format cohort XX e.g cohort 15 cohort 15
specify program. Format Data Analytics, Data Science/ML Data Science
specify topic Format Python Variables Data Transformation


Your program, which was scheduled for 04-August at 6.00AM, is on 04-August at 12.00PM in Lagos, and your program for the day is Data Science, and the topic to be taught is Data Transformation.Your program is in the next 6 days

### Test to check if the software will alert us if the program is scheduled to start in the next 24 hours. In this regard, we are going to change the scheduled date to the current day. That is, the day I write this program.

In [21]:
ttt = timediff(currTimeLong(), userTimeSpec())
print(ttt)
print(ttt[0])

provide required date in the format; YYYY, MM,DD, HH, mm2022, 07, 28, 21, 00
(datetime.timedelta(seconds=5089, microseconds=630870), 0, 5089.63087, 1.4137863527777779)
1:24:49.630870

In [46]:
scheduled = ttt[0]
scheduled = str(scheduled)
if len(scheduled) < 23:
    dayScheduled = '0 day'
else:
    pass

hrTime = int(scheduled[0])
minTime = int(scheduled[2:4])

userTime = input('input the bootcamp time - format HH-MM-AM/PM e.g 5.00AM ')
base_country = input('input the base country - format EST Time zone  ')
stuCountry_name = input('input your country name ')
Time_equivalent = timezoneC(userTime, base_country, stuCountry_name )
userDate = input('specify date - format XX-Month e.g 04-July ')
userCohort = input('specify cohort - format cohort XX e.g cohort 15 ')
userProgram = input('specify program. Format Data Analytics, Data Science/ML ')
userTopic = input('specify topic Format Python Variables ')
userName = input('input your name ')
userEmail = input('input your E-mail adress ')

print(f'Your program, which was scheduled for {userDate} at {userTime}, is on {userDate} at {Time_equivalent} in {stuCountry_name}, and your program for the day is {userProgram}, and the topic to be taught is {userTopic}.Your program is in the next {dayScheduled}')
if hrTime <= 24:
    print(f'Hi,{userName}. Your program is starting in the next {hrTime} hour(s) {minTime} minutes.')
elif hrTime <= 2:
    print(f'Hi,{userName}. Your program is starting in the next {hrTime} hour(s) {minTime} minutes.')
else:
    pass

input the bootcamp time - format HH-MM-AM/PM e.g 5.00AM 3.00PM
input the base country - format EST Time zone  EST
input your country name Lagos
specify date - format XX-Month e.g 04-July 28-July
specify cohort - format cohort XX e.g cohort 15 cohort 15
specify program. Format Data Analytics, Data Science/ML Data Science
specify topic Format Python Variables Data Transformation
input your name Oyelayo Seye
input your E-mail adress exwhybaba@gmail.com
Your program, which was scheduled for 28-July at 3.00PM, is on 28-July at 9.00PM in Lagos, and your program for the day is Data Science, and the topic to be taught is Data Transformation.Your program is in the next 0 day
Hi,Oyelayo Seye. Your program is starting in the next 1 hour(s) 24 minutes.